#Copyright (c) 2011-2013 NVIDIA Corporation.  All Rights Reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import init.t124_emmc.rc
import init.mmap_topdown.rc

on fs
    setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000
    setprop ro.crypto.umount_sd false
    setprop ro.crypto.fuse_sdcard true
    mount_all /fstab.jetson-tk1

on boot
    #max resolution supported for Miracast is 1080p, represented interms of macroblocks
    setprop nvwfd.maxresolution_macroblocks 8160
    #enable Miracast game mode support
    setprop nvwfd.gamemode 1
    # Start GPS daemon
    service gps-daemon /system/bin/glgps_nvidiaTegra2android -c /system/etc/gps/gpsconfig.xml
    user gps
    socket gps seqpacket 0660 gps system
    group system inet sdcard_rw sdcard_r
    class main
    disabled
