/dev/tegra-throughput	0666	system	system
/dev/knvmap     0660    system  system
/dev/nvmap      0666    system  system
/dev/tegra_avp  0660    media   media
/dev/tegra_avpchannel   0660    media   media
/dev/tegra_audio_avpchannel	0660	media	media
/dev/tegra_rpc  0660    media   media
/dev/tegra_sema	0660    media   media
/dev/tegra_mediaserver  0660    media   media
/dev/ov2710     0660    media   camera
/dev/imx091     0660    media   camera
/dev/ov7695     0660    media   camera
/dev/mt9m114    0660    media   camera
/dev/ov9772     0660    media   camera
/dev/imx135     0660    media   camera
/dev/imx179     0660    media   camera
/dev/ar0261     0660    media   camera
/dev/ov5693*    0660    media   camera
/dev/tegra_camera 0660  media   camera
/dev/camera*    0660    media   camera
/dev/focuser*   0660    media   camera
/dev/torch*     0660    media   camera
/dev/video0     0660    media   camera
/dev/video1     0660    media   camera
/dev/mipi-cal   0660    media   camera
/dev/spdif*     0660    system  audio
/dev/tegra_dc*  0660    system  system
/dev/ttyACM*    0660    radio   system
/dev/ttyACM2    0660    media   system
/dev/ttyACM3    0660    radio   log
/dev/nvhdcp0    0666    system  system
/dev/nvhdcp1    0660    system  system
/dev/nvhost-vi         0660   media  camera
/dev/nvhost-isp        0660   media  camera
/dev/nvhost-ctrl-vi    0660   media  camera
/dev/nvhost-isp.1      0660   media  camera
/dev/nvhost-vi.1       0660   media  camera
/dev/nvhost-msenc      0660   media  camera
/dev/nvhost-ctrl-vi.1  0660   media  camera
/dev/nvhost-ctrl-isp   0660   media  camera
/dev/nvhost-ctrl-isp.1 0660   media  camera
/dev/nvhost-vic        0666   root   root
/dev/nvhost-gpu        0666   root   root
/dev/nvhost-tsec       0666   root   root
/dev/nvhost-ctrl       0666   root   root
/dev/nvhost-as-gpu     0666   root   root
/dev/nvhost-ctrl-gpu   0666   root   root
/dev/nvhost-dbg-gpu    0666   root   root
/dev/nvhost-prof-gpu   0666   root   root
/dev/tlk_device 0660    system  drmrpc
/dev/ttyHS1	0660	root	system
/dev/ttyHS2	0660	bluetooth	bluetooth
/dev/ttyTHS1	0660	root	system
/dev/ttyTHS2	0660	bluetooth	bluetooth
#for FM V4L2 Radio
/dev/radio      0666    system  radio
/dev/mpu        0640    system  system
/dev/mpuirq     0640    system  system
/dev/accelirq   0640    system  system
/dev/timerirq   0640    system  system
/dev/raydium_ts 0660    system  system
/dev/ion        0666    system  system
/dev/timerinfo  0440    system  system
/dev/cpu_freq_min	0660	system	system
/dev/cpu_freq_max	0660	system	system
/dev/gpu_freq_min	0660	system	system
/dev/gpu_freq_max	0660	system	system
/dev/emc_freq_min	0660	system	system
/dev/min_online_cpus	0660	system	system
/dev/max_online_cpus	0660	system	system
/dev/quadd	0660	shell	shell
/dev/quadd_auth	0660	system	system
/sys/devices/virtual/input/input*	enabled	0660	system	system
/dev/gps	0664	system	system
/sys/power/sysedp/consumers/icemdm state 0660 radio system
